body {
  font-family: sans-serif;
}
nav {
  margin-bottom: 16px;
  background: #fa923f;
  padding: 16px 0;
}
a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
/* you can apply css to an selector / anchor which is active*/
a.active {
  color: red;
}

a:not(.active){
  color: blue;
}
.main-section {
  height: 400px;
  border: 1px solid #ccc;
  padding: 16px;
}
.highlighted {
  border: 2px solid orange;
}
